<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "..//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="product" type="com.kiku.springmall.service.ProductDTO" />
		<typeAlias alias="member" type="com.kiku.springmall.service.MemberDTO" />
		<typeAlias alias="management" type="com.kiku.springmall.service.ManagementDTO" />
		<typeAlias alias="cart" type="com.kiku.springmall.service.CartDTO" />
		<typeAlias alias="category" type="com.kiku.springmall.service.CategoryDTO" />
		<typeAlias alias="order" type="com.kiku.springmall.service.OrderDTO" />
	</typeAliases>
</configuration>